@media screen and (max-width: 1024px){
    html {
        font-size: 9px;
    }

    .film-container {
        height: 29rem;
    }

    .film-carousel {
      	gap: 0.7rem;
        padding-bottom: 20px;
    }

    .pink-frame-movie, .teal-frame-movie {
        height: 27.8856rem;
        width: 19.2828rem;
    }

    .dealsSection {        
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .classicOfTheMonth {
        width: 75%;
    }

    .classicHeading {
        width: 25rem;
        font-size: 1.9rem;
        margin: 0;
    }

    .classicCover {
        height: 16rem;
        width: 10.66rem;
    }

    .deals {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding-top: 0;
    }

    .dealsHeading {
        font-size: 1.9rem;
        margin: 0;
    }

    .drinkDealFrame {
        width: 23rem;
        gap: 0;
        height: 10.5rem;
    }
    
    .drinkImageFrame {
        height: 9rem;
        width: 9rem;
    }

    .drinkTextFrame {
        margin-right: 0;
    }

    .drinkHeading, .drinkDeal, .foodHeading, .foodDeal, .classicTitle {
        font-size: 1.5rem;
        height: 4rem;
    }

    .foodFrame {
        width: 13rem;
        margin-top: 1.5rem;
    }

    .newsletter-box {
        height: 15rem;
        width: 25rem;
    }

    form label {
        font-size: 1.7rem;
    }

    .carousel-title-container {
        margin-bottom: 30px;
    }

    .carousel-titles-container {
        margin-bottom: 30px;
    }
}