.movie {
    display: flex;
    flex-direction: column;
    padding: 70px;
    align-items: center;
    gap: 20px;
    width: 80%;
}

.cam-titel {
    display: flex;
    gap: 10px;
    align-items: flex-end;
    width: 90vw;
    justify-content: center;
}

.cam-titel img {
    height: 10%;
    width: 10%;
}

.movieName {
    font-family: var(--font-base);
    color: var(--yellow);
    font-size: 2.5rem;
    width: max-content;
    margin-bottom: 0px;
    text-transform: uppercase;
}

.coverHolder img {
    width: 60vw;
    display: flex;
    justify-self: center;
}

.movieInfo {
    display: flex;
    flex-direction: column;
    width: 80vw;
}

.description {
    padding: 10px
}

.movieInfo p {
    color: white;
    font-family: var(--inter-font);
    font-size: 1.5rem;
}

.buy-button {
    color: #FFF;
    font-family: var(--inter-font);
    font-size: 2rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 150px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 44.444px;
    background: linear-gradient(86deg, #AA3AFF 5.86%, #EE58FF 29.2%, #FF34D0 49.51%, #FF3665 74.57%, #FF8C00 95.75%);
    transition: all 0.5s ease;
    cursor: pointer;
    border: none;
}

.buy-button-cont {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.buy-button:hover {
    background: linear-gradient(266deg, #AA3AFF 5.86%, #EE58FF 29.2%, #FF34D0 49.51%, #FF3665 74.57%, #FF8C00 95.75%);
    box-shadow: 6px 6px 10px #fc6aeb;
    width: 150px;
    height: 60px;
    transition: 0.3s ease;
}

.movie-images {
  position: relative;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  gap: 0;
  width: 100vw;
  /* Dölj scrollbar */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

.movie-images::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

.movie-images .image-wrapper {
  position: relative;
  flex: 0 0 100%;
  height: 100%;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  margin: 40px 0px;
}

.movie-images .image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page-number {
  position: absolute;
  bottom: 16px;
  right: 16px;
  border: 1px solid white;
  background: rgba(37, 37, 37, 0.6);
  border-radius: 4px;
  padding: 8px;
  color: white;
  font-family: var(--font-base);
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.48px;
}

.trailer-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
}

.trailer-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

 .dealsHeading {
        color: #FF99F3;
        text-align: center;
        text-shadow: 0 0 5px #FF2EE7;
        font-family: "Text Me One";
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }

    .dealsOfTheWeek img {
        display: flex;
        flex-direction: column;
        justify-self: center;
    }

    .drinkHeading, .foodHeading {
        color: rgba(98, 250, 255, 0.89);
        text-align: center;
        text-shadow: 0 0 12.64px rgba(98, 250, 255, 0.89);
        font-family: var(--font-base);
        font-size: 31.115px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }

    .drinkDeal, .foodDeal {
        color: rgba(255, 221, 98, 0.89);
        text-align: center;
        text-shadow: 0 0 12.64px rgba(255, 221, 98, 0.89);
        font-family: var(--font-base);
        font-size: 31.115px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }

    .newsletter-form label {
        display: flex;
        width: 275px;
        height: 60px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        color: #FF99F3;
        /* text-align: center; */
        text-shadow: 0 0 9.351px #FF2EE7;
        font-family: var(--font-base);
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: auto;
        text-decoration-thickness: auto;
        text-underline-offset: 13.5%;
        text-underline-position: from-font;
        text-transform: uppercase;
    }

    .newsletter-form button {
        display: flex;
        width: 275px;
        height: 60px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        color: #FF99F3;
        /* text-align: center; */
        text-shadow: 0 0 9.351px #FF2EE7;
        font-family: var(--font-base);
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: auto;
        text-decoration-thickness: auto;
        text-underline-offset: 13.5%;
        text-underline-position: from-font;
        text-transform: uppercase;
    }

    .newsletter-form input {
        display: flex;
        width: 280px;
        height: 30px;
        /* flex-direction: column; */
        /* justify-content: center; */
        /* flex-shrink: 0; */
        color: rgba(98, 250, 255, 0.89);
        /* text-align: center; */
        text-shadow: 0 0 9.351px rgba(98, 250, 255, 0.89);
        font-family: var(--font-base);
        /* font-size: 20px; */
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }

@media (min-width: 768px) {
    .movieInfo p {
        font-size: 1.5rem;
    }

    .release-info {
        padding-bottom: 60px;
    }

    .buy-button-cont {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 60px;
    }

    .buy-button {
        width: 250px;
        height: 70px;
    }

    .buy-button:hover {
        width: 250px;
        height: 80px;
        font-size: 2.2rem;
    }

    .movieInfo {
    display: flex;
    flex-direction: row;
    width: 80vw;
    gap: 40px;
    }

    .movie-images {
        width: 80vw;
    }

    .cam-titel {
        width: 800px;
    }

    .cam-titel img {
        width: 6%;
        height: 6%;
    }

    .movieName {
        font-size: 2.5rem;
    }

    .coverHolder img {
        width: 30vw;
    } 
}

@media (max-width: 768px){
    .movie {
        width: 100%;
    }

    .drinkDealFrame {
        width: auto;
        gap: 0;
        height: 10.5rem;
    }
}
