.movie {
    display: flex;
    flex-direction: column;
    padding: 70px;
    align-items: center;
    gap: 20px;
    width: 80%;
}

.cam-titel {
    display: flex;
    gap: 10px;
    align-items: flex-end;
    width: 90vw;
    justify-content: center;
}

.cam-titel img {
    height: 10%;
    width: 10%;
}

.movieName {
    font-family: var(--font-base);
    color: var(--yellow);
    font-size: 2.5rem;
    width: max-content;
    margin-bottom: 0px;
    text-transform: uppercase;
}

.coverHolder img {
    width: 60vw;
    display: flex;
    justify-self: center;
}

.movieInfo {
    display: flex;
    flex-direction: column;
    width: 80vw;
}

.description {
    padding: 10px
}

.movieInfo p {
    color: white;
    font-family: var(--inter-font);
    font-size: 1.5rem;
}

.buy-button {
    color: #FFF;
    font-family: var(--inter-font);
    font-size: 2rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 150px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 44.444px;
    background: linear-gradient(86deg, #AA3AFF 5.86%, #EE58FF 29.2%, #FF34D0 49.51%, #FF3665 74.57%, #FF8C00 95.75%);
    transition: 0.3s ease;
    cursor: pointer;
    border: none;
}

.buy-button-cont {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.buy-button:hover {
    background: linear-gradient(266deg, #AA3AFF 5.86%, #EE58FF 29.2%, #FF34D0 49.51%, #FF3665 74.57%, #FF8C00 95.75%);
    box-shadow: 6px 6px 10px #fc6aeb;
    transform: scale(1.1);
}

.movie-images {
  position: relative;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  gap: 0;
  width: 100vw;
  /* Dölj scrollbar */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

.movie-images::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

.movie-images .image-wrapper {
  position: relative;
  flex: 0 0 100%;
  height: 100%;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  margin: 40px 0px;
}

.movie-images .image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page-number {
  position: absolute;
  bottom: 16px;
  right: 16px;
  border: 1px solid white;
  background: rgba(37, 37, 37, 0.6);
  border-radius: 4px;
  padding: 8px;
  color: white;
  font-family: var(--font-base);
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.48px;
}

.trailer-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
}

.trailer-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.calendar-container {
    width: 100vw;
    height: 45vw;
    display: flex;
    gap: 10px;
    align-items: center;
    border: var(--pink) 1px solid;
    box-shadow: var(--pink-shadow) 0 0 10.413px 0;
    border-radius: 3.2px;
    overflow: scroll;
}

.calendar-container img {
    position: relative;
    height: 40vw;
}

.calendar-day {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.date p {
    position: absolute;
    font-family: var(--inter-font);
    font-size: 1rem;
    text-transform: uppercase;
    color: aliceblue;
    z-index: 1;
    display: flex;
    justify-self: center;
}

.time {
    z-index: 1;
    position: absolute;
    align-self: center;
}

.early {
    
    font-family: var(--inter-font);
    font-size: 1rem;
    color: aliceblue;
}

.late {
    position: absolute;
    font-family: var(--inter-font);
    font-size: 1rem;
    color: aliceblue;
    margin-bottom: 5px;
}

.dealsHead {
    color: #FF99F3;
    text-align: center;
    text-shadow: 0 0 5px #FF2EE7;
    font-family: "Text Me One";
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    position: relative;
    justify-self: center;
    font-size: 2.5rem;
    font-weight: lighter;
    text-decoration: underline;
    text-decoration-thickness: 0.125rem;
    text-underline-offset: 0.8rem;
    font-family: 'Text Me One';
    display: flex;
    align-items: center;
    justify-content: center;
}

.drinksTextFrame {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 1rem;
}

.drinksDealFrame {
	display: flex;
	gap: 1rem;
	align-items: center;
	justify-content: center;
	border: var(--pink) 1px solid ;
	box-shadow: var(--pink-shadow) 0 0 10.413px 0;
	border-radius: 3.2px;
	padding-left: .25rem;
	height: 13.4375rem;
}

.drinksImageFrame {
	height: 12rem;
	width: 12rem;
	margin: 0.5rem;
	margin-top: 0.6rem;
}

.drinksImage {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.dealsOfTheWeek img {
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.drinks-special {
    color: rgba(98, 250, 255, 0.89);
    text-align: center;
    text-shadow: 0 0 12.64px rgba(98, 250, 255, 0.89);
    font-family: var(--font-base);
    font-size: 31.115px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
	margin-bottom: 0;
	width: 12.338rem;
	height: 4.194rem;
	position: relative;
	font-size: 1.944rem;
	font-weight: lighter;
	text-decoration: underline;
	text-decoration-thickness: 0.094rem;
	text-underline-offset: 0.6rem;
	font-family: 'Text Me One';
	color: rgba(98, 250, 255, 0.89);
	text-align: center;
	display: flex;
	justify-content: center;
	text-shadow: 0px 2px 12.64px rgba(98, 250, 255, 0.89);
}
    
.drinksDeal {
    margin-top: 0;
	width: 10.875rem;
	height: 7.113rem;
	position: relative;
	font-size: 1.944rem;
	font-family: 'Text Me One';
	color: rgba(255, 221, 98, 0.89);
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	text-shadow: 0px 0px 12.64px rgba(255, 221, 98, 0.89);
    text-transform: uppercase;
}

.foodsDeal {
    margin-top: 0;
	margin-bottom: 1rem;
	margin-left: 1rem;
	margin-right: 1rem;
	height: 7.113rem;
	position: relative;
	font-size: 1.944rem;
	font-family: 'Text Me One';
	color: rgba(98, 250, 255, 0.89);
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	text-shadow: 0px 0px 12.64px rgba(98, 250, 255, 0.89);
    text-transform: uppercase;
}

.foods-special {
    margin-bottom: 0;
	margin-top: 1rem;
	width: 12.338rem;
	height: 4.194rem;
	position: relative;
	font-size: 1.944rem;
	font-weight: lighter;
	text-decoration: underline;
	text-decoration-thickness: 0.094rem;
	text-underline-offset: 0.6rem;
	font-family: 'Text Me One';
	color: #ff99f3;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	text-shadow: 0px 0px 12.64px #ff2ee7;
    text-transform: uppercase;
}

.foodsFrame {
	justify-self: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid rgba(255, 221, 98, 0.89);
	border-radius: 3.2px;
	box-shadow: 0 0 10.413px 0 var(--yellow);
	margin-top: 3rem;
}

.newsletter-cont {
    display: flex;
	justify-content: center;
	align-content: center;
    margin: 20px;
}

.newsletter-form-movie {
    height: 16.5rem;
	align-self: center;
	display: flex;
}

.form-movie {
	width: 18rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	position: relative;
	align-self: center;
}
 
.newsletter-form-movie label {
    width: 17.18rem;
	padding: .5rem;
    color: var(--pink);
    text-align: center;
    text-shadow: 0 0 9.351px var(--pink-shadow);
    font-family: var(--font-base);
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: 10%;
    text-underline-position: from-font;
	padding-top: 0;
    text-transform: uppercase;
}

.newsletter-form-movie button {
    width: 4.25rem;
	height: 1.625rem;
	background: none;
	border-radius: 0.25rem;
	border: 1px solid var(--turquoise);
	box-shadow: 0 0 13px 0 var(--turquoise);
	color: var(--pink);
	text-align: center;
	text-shadow: 0 0 13px var(--pink-shadow);
	font-family: "Text Me One";
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	align-self: center;
    text-transform: uppercase;
}

.newsletter-form-movie input {
    background: none;
	border: 1px solid var(--yellow);
	border-radius: 3.2px;
    box-shadow: 0 0 10.413px 0 var(--yellow);
	height: 2.25rem;
	font-family: var(--font-base);
	font-size: 1.25rem;
	text-align: center;
	color: var(--turquoise);
	text-align: center;
	text-shadow: 0 0 9.351px var(--turquoise);
	font-style: normal;
	font-weight: 400;
	line-height: normal;
    text-transform: uppercase;
}

.newsletterCont {
	position: absolute;
	align-self: center;
    height: 25%;
    width: 100vw;
}

@media (min-width: 768px) {
    .movieInfo p {
        font-size: 1.5rem;
    }

    .release-info {
        padding-bottom: 60px;
    }

    .buy-button-cont {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 60px;
    }

    .buy-button {
        width: 250px;
        height: 70px;
    }

    .buy-button:hover {
        width: 250px;
        height: 80px;
        font-size: 2.2rem;
    }

    .movieInfo {
    display: flex;
    flex-direction: row;
    width: 80vw;
    gap: 40px;
    }

    .movie-images {
        width: 80vw;
        margin: 60px 0px;
    }

    .cam-titel {
        width: 800px;
    }

    .cam-titel img {
        width: 6%;
        height: 6%;
        display: flex;
        align-self: center;
    }

    .movieName {
        font-size: 2.5rem;
        margin-bottom: 20px;
    }

    .coverHolder img {
        width: 30vw;
    } 

    .calendar-container img {
        height: 14vw;
    }

    .calendar-container {
        width: 80vw;
        height: 25vw;
        margin: 60px 0px;
        overflow: visible;
        justify-content: center;
    }
}

@media (min-width: 1024px) {
    .newsletter-cont {
        height: auto;
        margin: 60px 0px;
    }

    .newsletterCont {
        height: 50%;
    }

    .cam-titel img {
        width: 8%;
        height: 8%;
    }

    .calendar-day {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .date p {
        position: absolute;
        font-family: var(--font-base);
        font-size: 1rem;
        text-transform: uppercase;
        color: aliceblue;
        z-index: 1;
        display: flex;
        justify-self: center;
    }

    .time {
        z-index: 1;
        position: absolute;
        align-self: center;
    }

    .time p {
        font-family: var(--font-base);
    }

    .early {
        font-family: var(--inter-font);
        font-size: 1rem;
        color: aliceblue;
    }

    .late {
        position: absolute;
        font-family: var(--inter-font);
        font-size: 1rem;
        color: aliceblue;
        margin: 0;
    }
}

@media (max-width: 768px){
    .movie {
        width: 100%;
    }

    .drinksDealFrame {
        width: auto;
        gap: 0;
    }
}