:root {
    --background: radial-gradient(54.48% 62.94% at 58.2% 55.97%, 
    rgb(0, 0, 0) 0.48%, 
    rgb(19, 17, 28) 32.21%, 
    rgb(44, 18, 99) 58.17%, 
    rgb(13, 48, 91) 76.44%, 
    rgb(11, 9, 21) 100%);
    --background-texture: url('/images/background-texture 1.png');
    --pink: #FF99F3;
	--pink-shadow: #ff2ee7;
    --turquoise: #48E5E1;
    --yellow: #FFDD62E3;
    --font-base: 'Text Me One', sans-serif;
    --inter-font: 'Inter', sans-serif;
}

html {
	font-size: 16px;
}

body {
    background: var(--background-texture), var(--background);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.nowShowingCarousel, .comingSoonCarousel {
    width: 90vw;
    display: flex;
    gap: 25px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.nowShowingCarousel div, .comingSoonCarousel div {
    background-color: rgb(125, 126, 126);
    flex: 0 0 17%;
    aspect-ratio: 2 / 3;
}

/* Body */

/* Hero Styling */

.hero {
  	width: 65%;
    margin: 0 !important;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* padding: 95px 257px; */
    box-sizing: border-box;
    padding: 80px;

}
.hero-text {
  	align-self: stretch;
  	position: relative;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
  	object-fit: cover;
}

/* Carousel Styling */

.film-carousel-container {
  	height: 31.375rem;
    width: 95vw;
    /* margin: 0 !important; */
    top: 25.5rem;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    padding: 0px 2.75rem;
    box-sizing: border-box;
    gap: 1rem;
    text-align: center;
    font-size: 3rem;
    color: var(--turquoise);
    font-family: 'Text Me One';
    justify-content: center;
}
.carousel-title-container {
  	width: 24.55rem;
  	height: 3.55625rem;
  	position: relative;
}
.title-container {
  	position: absolute;
  	top: .6875rem;
  	left: 15px;
  	width: 19.56875rem;
  	height: 2.0625rem;
}
.title {
  	/*position: absolute; 
    top: 0px;
    left: 0px;*/
    text-decoration: underline;
    display: flex;
    /* align-items: center; */
    justify-content: flex-start;
    width: 19.56875rem;
    height: 2.0625rem;
    text-shadow: 0px 0px 5px var(--turquoise);
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: 30%;
    text-underline-position: from-font;
    font-size: 2rem;
}
.camera-icon {
  	position: relative;
    top: 10px;
    left: 60px;
    width: 45px;
    height: 45px;
    object-fit: cover;
}

.film-container {
  	align-self: stretch;
  	height: 395px;
  	display: flex;
  	align-items: center;
  	/* justify-content: center; */
}
.film-carousel {
  	width: 100%;
  	overflow-x: auto;
  	flex-shrink: 0;
  	display: flex;
  	align-items: center;
  	padding: 11.5px 10.5px;
  	box-sizing: border-box;
  	gap: 28.7px;
}

.film-carousel::-webkit-scrollbar {
	background: transparent;
	width: 0px;
}

.teal-frame-movie {
  	height: 371.8px;
  	width: 257.1px;
  	position: relative;
  	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.teal-image-icon {
  	position: absolute;
  	width: 80%;
  	border-radius: 3.82px;
  	max-width: 100%;
  	overflow: hidden;
  	height: 85%;
  	object-fit: cover;
	border: 1px solid var(--turquoise);
}
.teal-frame {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: 0%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
  	border-radius: 4.78px;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
  	object-fit: contain;
    stroke-width: 1.911px;
    stroke: var(--turquoise);
    filter: drop-shadow(0 0 12.424px var(--turquoise));
}

.pink-frame-movie {
  	height: 371.8px;
  	width: 257.1px;
  	position: relative;
  	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pink-image-icon {
  	position: absolute;
  	width: 80%;
  	border-radius: 3.82px;
  	max-width: 100%;
  	overflow: hidden;
  	height: 85%;
  	object-fit: cover;
	border: 1px solid var(--pink);
}
.pink-frame {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: 0%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
  	border-radius: 4.78px;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
  	object-fit: contain;
    stroke-width: 1.911px;
    stroke: #FF99F3;
    filter: drop-shadow(0 0 12.424px #FF2EE7);
}

.movie-title {
	position: relative;
	bottom: 0;

}

/* Deals Section */

.dealsSection {
	display: flex;
	justify-content: space-around;
}

.dealsSection article {
	padding: 2rem;
}
.classicOfTheMonth {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.classicSquare {
	width: fit-content;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	border: 1px solid var(--yellow);
	border-radius: 3.2px;
    box-shadow: 0 0 10.413px 0 var(--yellow);
}

.classicHeading {
	width: 32.219rem;
	height: 5.294rem;
	position: relative;
	font-size: 2.5rem;
	font-weight: lighter;
	text-decoration: underline;
	text-decoration-thickness: 2px;
	text-underline-offset: 0.8rem;
	font-family: 'Text Me One';
	color: rgba(255, 221, 98, 0.89);
	text-align: center;
	display: flex;
	flex-shrink: 1;
	align-items: center;
	justify-content: center;
	text-shadow: 0px 0px 10.82px rgba(255, 221, 98, 0.89);
}

.classicTitle {
	height: 8.463rem;
	width: 14.019rem;
	position: relative;
	font-size: 2.003rem;
	font-weight: lighter;
	font-family: 'Text Me One';
	color: rgba(255, 221, 98, 0.89);
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	text-shadow: 0px 0px 10.41px rgba(255, 221, 98, 0.89);
	flex-grow: 1;
	margin: 1.5rem;
}

.classicLink {
	text-decoration: none;
}

.classicCoverFrame {
	display: inline-block;
	border: 1px solid rgba(255, 221, 98, 0.89);
	border-radius: 3.2px;
	box-shadow: 0 0 10.413px 0 var(--yellow);
	margin: 1rem;
}

.classicCover {
	height: 24rem;
	width: 16rem;
	object-fit: cover;
}

.hover-img:hover{
	opacity: 1;
}

.hover-img {
	height: 100%;
	width: 100%;
	background-color: black;
	/*position: relative;*/
	/* top:0; */
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
}

.info-tix {
	width: 10rem;
	height: 3rem;
	background: none;
	border-radius: 0.25rem;
	box-shadow: none;
	border: 1px solid var(--yellow);
	color: var(--yellow);
	text-shadow: none;
	text-align: center;
	font-family: "Text Me One";
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	align-self: center;
}

.info-tix:hover {
	background: var(--yellow);
	color: black;
}

.dealsHeading {
	width: 24.9rem;
	height: 5.294rem;
	position: relative;
	justify-self: center;
	font-size: 2.5rem;
	font-weight: lighter;
	text-decoration: underline;
	text-decoration-thickness: 2px;
	text-underline-offset: 0.8rem;
	font-family: 'Text Me One';
	color: #ff99f3;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	text-shadow: 0px 0px 5px #ff2ee7;
}

.drinkTextFrame {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 1rem;
}

.drinkHeading {
	margin-bottom: 0;
	width: 12.338rem;
	height: 4.194rem;
	position: relative;
	font-size: 1.944rem;
	font-weight: lighter;
	text-decoration: underline;
	text-decoration-thickness: 1.5px;
	text-underline-offset: 0.6rem;
	font-family: 'Text Me One';
	color: rgba(98, 250, 255, 0.89);
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	text-shadow: 0px 2px 12.64px rgba(98, 250, 255, 0.89);
}

.drinkDealFrame {
	display: flex;
	gap: 1rem;
	align-items: center;
	justify-content: center;
	border: 1px solid var(--pink);
	box-shadow: 0 0 10.413px 0 var(--pink-shadow);
	border-radius: 3.2px;
	padding-left: .25rem;
}

.drinkImageFrame {
	margin: 0.5rem;
	margin-top: 0.6rem;
}

.drinkDeal {
	margin-top: 0;
	width: 10.875rem;
	height: 7.113rem;
	position: relative;
	font-size: 1.944rem;
	font-family: 'Text Me One';
	color: rgba(255, 221, 98, 0.89);
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	text-shadow: 0px 0px 12.64px rgba(255, 221, 98, 0.89);
}

.foodFrame {
	justify-self: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid rgba(255, 221, 98, 0.89);
	border-radius: 3.2px;
	box-shadow: 0 0 10.413px 0 var(--yellow);
	margin-top: 1rem;
}

.foodHeading {
	margin-bottom: 0;
	margin-top: 1rem;
	width: 12.338rem;
	height: 4.194rem;
	position: relative;
	font-size: 1.944rem;
	font-weight: lighter;
	text-decoration: underline;
	text-decoration-thickness: 1.5px;
	text-underline-offset: 0.6rem;
	font-family: 'Text Me One';
	color: #ff99f3;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	text-shadow: 0px 0px 12.64px #ff2ee7;
}

.foodDeal {
	margin-top: 0;
	margin-bottom: 1rem;
	margin-left: 1rem;
	margin-right: 1rem;
	width: 13.919rem;
	height: 7.113rem;
	position: relative;
	font-size: 1.944rem;
	font-family: 'Text Me One';
	color: rgba(98, 250, 255, 0.89);
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	text-shadow: 0px 0px 12.64px rgba(98, 250, 255, 0.89);
}

/* Newsletter Styling */

.newsletter-container{
	display: flex;
	justify-content: center;
	align-content: center;
	width: 100vw;
	height: 32.375rem;
}

.newsletter-form {
	height: 16.5rem;
	align-self: center;
	display: flex;
}

form {
	width: 18rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	position: relative;
	align-self: center;
}

input {
	background: none;
	border: 1px solid var(--yellow);
	border-radius: 3.2px;
    box-shadow: 0 0 10.413px 0 var(--yellow);
	height: 2.25rem;
	font-family: var(--font-base);
	font-size: 1.25rem;
	text-align: center;
	color: var(--turquoise);
	text-align: center;
	text-shadow: 0 0 9.351px var(--turquoise);
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

input::placeholder{
	padding: 2rem 2rem 2rem 2rem;
	font-family: var(--font-base);
	font-size: 1.25rem;
	text-align: center;
	color: var(--turquoise);
	text-align: center;
	text-shadow: 0 0 9.351px var(--turquoise);
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}



label {
	width: 17.18rem;
	padding: .5rem;
    color: var(--pink);
    text-align: center;
    text-shadow: 0 0 9.351px var(--pink-shadow);
    font-family: var(--font-base);
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: 10%;
    text-underline-position: from-font;
	padding-top: 0;
}

button {
	width: 4.25rem;
	height: 1.625rem;
	background: none;
	border-radius: 0.25rem;
	border: 1px solid var(--turquoise);
	box-shadow: 0 0 13px 0 var(--turquoise);
	color: var(--pink);
	text-align: center;
	text-shadow: 0 0 13px var(--pink-shadow);
	font-family: "Text Me One";
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	align-self: center;
}

.newsletter-box {
	position: absolute;
	align-self: center;
}

/* Footer Styling */

footer {
  	width: 100%;
    /* margin: 0 !important; */
    top: 165.813rem;
    left: 0rem;
    /* overflow: hidden; */
    /* flex-shrink: 0; */
    display: flex;
    align-items: center;
    padding: 1.687rem 2.375rem;
    box-sizing: border-box;
    /* gap: 28.437rem; */
    /* text-align: center; */
    font-size: 1.5rem;
    color: rgba(98, 250, 255, 0.89);
    font-family: 'Text Me One';
    justify-content: space-between;
}
.youll-be-back {
  	/* height: 1.813rem; */
    /* width: 12rem; */
    position: relative;
    /* display: flex; */
    /* align-items: center; */
    justify-content: center;
    flex-shrink: 0;
    text-shadow: 0px 0px 13px rgba(98, 250, 255, 0.89);
    font-size: 1.5rem;
}
.futurity {
  	height: 1.813rem;
    position: relative;
    color: var(--pink);
    text-shadow: 0px 0px 13px var(--pink-shadow);
    font-size: 1.5rem;
	justify-self: center;

}
.socials {
  	height: 2.681rem;
    width: 8.188rem;
    position: relative;
    display: flex;
    align-items: center;
}
.insta-icon {
  	height: 2.681rem;
}

.facebook-icon {
  	height: 2.638rem;
}

.youtube-icon {
  	height: 2.306rem;
}
